body{
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	margin: 0;
}

section{
	padding: 50px 0;
}

nav{
	background: #02908b;
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

nav > a{
	color: #ffffff;
	font-family: 'Open sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}

nav span{
	font-family: 'Open Sans', sans-serif;
	color: #cfc91d;
	text-align: left;
}

nav ul{
	position: absolute;
	right: 25px;
	top: 5px;
}

nav li{
	display: inline-block;
	padding: 0 15px;
}

nav li > a{
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

nav li > a:hover,
nav li > a:focus{
	color: #cfc91d;
}

header{
	background-attachment: fixed;
	background-image: url(../img/headerbg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 50%;
	color: #ffffff;
	height: 500px;
	padding-top: 15%;
	text-align: center;
}

header h1{
	font-size: 36px;
	margin: 0;
}

header h2{
	font-size: 72px;
	letter-spacing: 20px;
	margin: 0;
}

header p{
	margin-top: 0;
}

header img{
	padding: 35px 0;
}

header a{
	background-color: #cdc71d;
	color: #0b1016;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

header a:hover{
	background-color: #ffffff;
	color: #0b1016;
	cursor: pointer;
}

#about{
	text-align: center;
}

#about .title,
#service .title,
#contact .title{
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

#about > p{
	color: #7e8287;
	line-height: 41px;
	margin: 0 auto;
	width: 70%;
}

#about span{
	font-size: 23px;
	font-weight: bold;
}

.aboutboxes{
	color: #7e8287;
	margin: 0 auto;
	width: 80%;
}

.aboutbox{
	border-right: 1px solid black;
	float: left;
	margin: 3% 0;
	padding: 0 4%;
	width: 16%;
}

.aboutbox h2{
	font-size: 18px;
}

.aboutbox p{
	font-size: 11px;
	font-weight: bold;
}

.aboutbox i{
	color: #02918c;
}

.aboutbox:last-child{
	border: none;
}

#service{
	background-image: url(../img/service.png);
	background-size: cover;
	display: inline-block;
	padding-left: 10%;
}

.servicewrapper{
	width: 40%;
}

#service img{
	margin: 15px 0;
}

.servicewrapper > p{
	color: #7e8287;
	line-height: 41px;
}

.servicebox{
	float: left;
	width: 40%;
	color: #7e8287;
}

.servicebox.left{
	margin-left: 15%;
}

.servicebox i{
	color: #02918c;
	margin: 5px 0;
}

.servicebox h2{
	font-size: 18px;
	margin: 10px 0;
}

.servicebox > p{
	font-size: 11px;
	font-weight: bold;
	margin: 15px 0;
}

#contact{
	padding-bottom: 0;
	text-align: center;
}

#contact img{
	margin: 15px 0;
}

#contact p{
	color: #7e8287;
	line-height: 41px;
	width: 53%;
	margin: 0 auto 5%;
}

.contactform{
	background: #0b0b0b;
	color: #7d8186;
	padding: 50px 25px;
}

.contactform input{
	background: transparent;
	border: none;
	border-bottom: 1px solid #7d8186;
	color: #7d8186;
	font-size: 24px;
	height: 30px;
	text-align: center;
	width: 60%;
}

.contactform textarea{
	background: transparent;
	border: none;
	border-bottom: 1px solid #7d8186;
	border-top: 1px solid #7d8186;
	color: #7d8186;
	font-size: 24px;
	text-align: center;
	width: 60%;
}

.contactform input:focus,
.contactform textarea:focus{
	outline: none;
}

.contactform .half{
	margin: 2% 25%;
}

.contactform .three_quarters{
	margin: 4% 10%;
}

.contactform button{
	background-color: #cdc71d;
	border: none;
	clear: both;
	color: #0b1016;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.contactform button:hover{
	background-color: #ffffff;
	color: #0b1016;
	cursor: pointer;
}

#sitefooter{
	background: #000000;
	padding: 10px 0;
	width: 100%
}

#sitefooter p{
	color: #7e8287;
	text-align: center;
}